body {
    font-family: sans-serif;
}

body.slim {
    width: 40%;
    margin: 0 auto;
}

.search {
    text-align: center;
}

.search ul {
    list-style: none;
}

.result h1 {
    font-size: 120%;
}
.result h2 {
    font-size: 90%;
}
